// @forward "self"; // 「self」はこのファイル自身
@use "sass:map";

// =============================================
// 変数
// =============================================
$font-Color: #333;
$bg-color:  #e9f1f5;
$sv-color: #f1af2b;

// ============================================
// メディアクエリ
// ============================================
$breakpoints: (
  l: "screen and (max-width: 1600px)", //PC
  m: "screen and (max-width: 1024px)", //タブレット
  ms: "screen and (max-width: 800px)", //非常時
  s: "screen and (max-width: 767px)"  //スマートフォン
);

@mixin media($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ベース */
body {
  color: $font-Color;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;

}
ul {
  list-style: none;
}
a {
  color: $font-Color;
	text-decoration: none;
}

