@import "_mixin";

// 表示崩れ見るため
// * {
//   outline: 2px solid blue;
// }

// @include media(m) {

// }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s;


  &__logo {
    margin: 16px;
    img {
      width: 128px;
      height: 64px;
      max-width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__nav {
    margin-right: 16px;
    &__list {
      display: flex;
      gap: 32px;
    }
  }
  @include media(s) {
    @include hamburger;
    // background-color: #333;

  }

  // スクロール後のheader変化
  &.header--bg {
    transition: 0.5s; background-color: #333;
    .header__nav__list {
      a {
        transition: 0.5s; color: #fff;
      }
    }
    @include media(s) {
      @include hamburger;
      .header__nav__list {
      a {
        transition: 0.5s; color: $font-Color;
      }
    }
    }
  }
}

.works {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $bg-color;
  .section__ttl {
    @include section--ttl;
  }
  &__content {
    padding-top: 4rem;
    display: flex;
    gap: 4rem;

    &__item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 2rem;
      }
      img {
        margin: 3rem 0;
        max-width: 350px;
        max-height: 350px;
        object-fit: cover;
        object-position: 50% 50%;
      }
      &--detail {
        width: 100%;
        height: 100%;
      }
      a {
        @include btn;
      }
    }
  }
  &__btn {
    @include btn;
  }
  @include media(m) {
    &__content {
      padding-bottom: 0;
      flex-direction: column;
      &__item {
        &--detail {
          display: flex;
          gap: 32px;
          img {
            margin-bottom: 0;
            max-width: 160px;
            max-height: 160px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
  @include media(s) {
    padding-top: 72px;
    padding-bottom: 72px;
    &__content {
      padding-top: 48px;
      padding-bottom: 54px;
      gap: 36px;
      &__item {
        h3 {
          font-size: 28px;
          margin-bottom: 0;
        }
        &--detail {
          flex-direction: column;
          align-items: center;
          gap: 0;
          img {
            width: 180px;
            height: 180px;
            max-width: 100%;
            max-height: 100%;
            padding: 0 24px 24px;
            box-sizing: border-box;
          }
          p {
            font-size: 14px;
          }
        }
        &:last-child {
          margin-bottom: 50px;
        }
      }
    }  
  }
}

.about {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .section__ttl {
    @include section--ttl;
  }
  &__content {
    display: flex;
    gap: 32px;
    padding-top: 32px;
    font-size: 18px;
    img {
      max-width: 40%;
    }
    &__text {
      padding: 1rem;
    }
  }

  @include media(m) {
    .section__ttl {
      padding-top: 80px;
      padding-bottom: 40px;
    }
  }
  @include media(s) {
    padding-top: 72px;
    padding-bottom: 72px;
    .section__ttl {
      padding-top: 0;
      padding-bottom: 0;
    }
    &__content {
      padding-top: 10%;
      margin-top: 12px;
      margin-bottom: 15%;
      gap: 12px;
      font-size: 14px
    }
  }
}

.news {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .section__ttl {
    @include section--ttl;
  }
  &__area {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      width: 100%;
      height: 100%;
    }
    &__list {
      display: flex;
      padding: 1rem 1rem 0.5rem;
      border-bottom: 1px solid #e5e5e5;
      gap: 2rem;
      img {
        width: 6rem;
        height: 6rem;
        border-radius: 20%;
        object-fit: cover;
        object-position: 50% 50%;
      }
      &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 1.5rem;
          line-height: 1;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        p {
          font-size: 1.25rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        time {
          font-size: 0.75rem;
          align-self: flex-end;
        }
      }
    }
  }
  &__btn {
    @include btn;
  }

  @include media(s) {
    padding-top: 72px;
    padding-bottom: 72px;
    &__area {
      padding-top: 24px;
      padding-bottom: 60px;
      &__list {
        display: flex;
        padding: 14px 14px 7px;
        gap: 14px;
        img {
        width: 5em;
        height: 5em;
        }
        &__content {
          justify-content: space-between;
          h3 {
            font-size: 21px;
          }
          p {
            font-size: 14px;
          }
          time {
            font-size: 7px;
          }
        }
      }
    }
  }
}

.contact {
  background-color: #6ea4bf;
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__ttl {
    text-align: center;
    font-size: 48px;
    color: #fff;
    margin-bottom: 19.2px;
  }
  &__btn {
    @include btn;
  }
  @include media(s) {
    height: 320px;
    &__ttl {
      font-size: 36px;
      margin-bottom: 29px;
    }
  }
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 8px 0;
  text-align: center;
  &__list {
    display: flex;
    justify-content: center;
    li {
      padding: 0 8px;
      border-right: 1px solid #e5e5e5;
      &:last-child {
        border-right: none;
      }
      a {
        color: #fff;
      }
    }
  }
  @include media(s) {
    padding: 6px 0;
    &__list {
      li {
        font-size: 10px;
        padding: 0 5px;
      }
    }
    p {
      font-size: 12px;
      padding: 3.6px 0;
    }
  }
}
